In [1]:
#Varriables
x = 10
print(x)

10

In [ ]:
#List - collection of diff objects
# Mutable , ordered , allows duplicatee

In [ ]:
#Tuple
#Immutable , Ordered , allows duplicates

In [ ]:
#Set
#Arranges the itemsin ascending order
# does not allow duplicates

In [ ]:
#Dic
## Mutable , Unordered , does not allow duplicate keys

In [3]:
#List
A = [1,2,3,4,5]
print(A)

[1, 2, 3, 4, 5]

In [4]:
type(A)

list

In [5]:
A.append(6)
A

[1, 2, 3, 4, 5, 6]

In [6]:
A.insert(2,7)
A

[1, 2, 7, 3, 4, 5, 6]

In [7]:
A.index(2) # 2 value present at position 1

1

In [8]:
A.remove(7) # remove the value , not the index value

In [9]:
A

[1, 2, 3, 4, 5, 6]

In [10]:
A.pop(2) # remove the value from the particular index
A

[1, 2, 4, 5, 6]

In [11]:
A.index(6) # value 6 position is 4

4

In [12]:
A[2]

4

In [13]:
A[2:4]

[4, 5]

In [14]:
#Tuples
# it used to create sequence of items which cannot be chnaged 
A= (1,2,3,4,5,6)
type(A)

tuple

In [15]:
A[4]

5

In [16]:
A[4] = 9 # immutable

TypeError: 'tuple' object does not support item assignment

In [17]:
A[2] #indexing

3

In [20]:
# Dict
# It doesnot allow duplicate keys
# mutable 
A= {1:'a', 2:'b', 3:'c'}
A

{1: 'a', 2: 'b', 3: 'c'}

In [21]:
# A.get('key')
A.get(1)

'a'

In [22]:
A.keys() # only keys

dict_keys([1, 2, 3])

In [23]:
A.items() # keys n vlaues

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

In [24]:
A.values() # only values

dict_values(['a', 'b', 'c'])

In [25]:
A.pop(1)

'a'

In [32]:
# iterate dic in 4 ways 
for key in A:
    print(key, A[key])

2 b
3 c

In [35]:
for item in A.items():
   print(item)

(2, 'b')
(3, 'c')

In [36]:
print(type(item))

<class 'tuple'>

In [37]:
for key in A.keys():
    print(key, A[key])

2 b
3 c

In [38]:
for key,value in A.items():
    print(key, value)

2 b
3 c

In [39]:
for key in A.__iter__():
    print(key, A[key])

2 b
3 c

In [40]:
#Comprehensions :
nums = [1,2,3,4,5,6,7,8,9,10]
my_list = []
for n in nums :
    my_list.append(n)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
my_list = [ n for n in nums]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
my_list = [ n*n for n in nums]
my_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
# using map + lamda
my_list = map(lambda n: n*n, nums)
print(my_list)

<map object at 0x7fbd2238a5c0>

In [ ]:
# using filter

In [52]:
my_list = filter(lambda n: n%2 == 0, nums)
print(my_list)

<filter object at 0x7fbd2238a438>

In [54]:
my_list = [ n for n in nums  if n%2 == 0]
my_list

[2, 4, 6, 8, 10]

In [57]:
# Dictionary Comprehensions
names = ['Bruce', 'Clark', 'Peter', 'Logan', 'Wade']
heros = ['Batman', 'Superman', 'Spiderman', 'Wolverine', 'Deadpool']
# print zip(names, heros)

# I want a dict{'name': 'hero'} for each name,hero in zip(names, heros)
my_dict = {}
for name, hero in zip(names, heros):
    my_dict[name] = hero
print(my_dict)



# If name not equal to Peter

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

In [59]:
print(my_list[2:4])  # it will print position 2 and 3

[6, 8]

In [60]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
print(my_list[2:4])  # it will print position 2 and 3

[3, 4]

In [61]:
#list[start:end:step]
print(my_list[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
print(my_list[:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
print(my_list[::-1])  # reverse

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [64]:
print(my_list[2:-2])  # reverse

[3, 4, 5, 6, 7, 8]

In [65]:
print(my_list[2:-1:2])  # reverse

[3, 5, 7, 9]